# build directory
build/*
# external packages
packages/**/*.tar.gz

# case folder
testCases/coolfluid*
testCases/**/*.log
testCases/**/*.plt.Default
testCases/**/*_out.*

# docNew
docNew/html/*
docNew/latex/*
docNew/index.html

# vscode
.vscode/*